{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account_tags %}


{% user_display request.user as user_display %}

{% block body %}
    <form method="POST" action="">
        <legend>{% trans "Восстановление пароля" %}</legend>
        <p class="lead">Забыли свой пароль? Введите свой email ниже, и мы вышлем на ваш email инструкцию по востановлению пароля.</p>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary">{% trans "Востановить мой пароль" %}</button>
        </div>
        <p class="help-text">{% blocktrans %}Если вы имете другие проблемы, то свяжитесь с нами <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    </form>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
